---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
This page is under construction.

Stay tuned for updates and news.
`;
---

<Layout title="Welcome to Xertus Wines.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Welcome  to Xertus Wines</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
    </p>
</Layout>
